.places {
  max-width: 880px;
  margin: 52px auto 0;

  display: grid;
  grid-template-columns: repeat(3, 32.046%);
  column-gap: 17px;
  row-gap: 19px;
}

@media screen and (max-width: 768px) {
  .places {
    grid-template-columns: repeat(2, 282px);
    justify-content: center;
    row-gap: 22px;
  }
}

@media screen and (max-width: 700px) {
  .places {
    max-width: 282px;
    margin: 36px auto 0;

    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}