.places__like-icon {
  background-image: url(../../../images/like-icon.svg);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  
  min-width: 22px;
  min-height: 19px;
  display: inline-block;
}

@media screen and (max-width: 320px) {
  .places__like-icon {
    width: 22px;
    height: 19px;
  }
}

.places__like-icon:hover {
  opacity: .6;
  cursor: pointer;
}