.profile__title {
  display: inline-block;

  font-size: 42px;
  font-weight: 500;

  margin: 22px 0 0 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 410px) {
  .profile__title {
    font-size: 27px;
    margin: 27px 0 0;
  }
}