.profile__container {
  max-width: 100%;
  flex-grow: 3;
  margin-left: 30px;
}

@media screen and (max-width:380px) {
    .profile__container {
        align-items: end;
        margin-left: 28px;
    }
}