.popup__container {
  background-color: transparent;
  border-radius: 0;
  color: #000;

  padding-top: 0;
}

@media screen and (max-width: 700px) {
  .popup__container {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .popup__container {
    padding-top: 0;
  }
}